<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opencv JS</title>
    <script async src="https://docs.opencv.org/4.5.0/opencv.js" onload="openCvReady();"></script>
    <script src="/static/_scaner/js/utils.js"></script>
    <style>
   #canvasContainer { position:relative; width:480px; height:480px; }
   #canvas_output { position:relative; width:480px; height:480px; z-index:1; object-fit: cover; }
   #svgContainer { position:absolute; width:360px; height:360px; z-index:2; bottom: 60px; left: 60px; }
    </style>

</head>
<body>
<div>
<div id="canvasContainer">
    <canvas id="canvas_output"></canvas>
    <img id="svgContainer" src="/static/_scaner/mask.svg" alt="Patch Mask"/>
    <video hidden="hidden" id="cam_input" height="480" width="640"></video>
</div>
</div>
<div>
    
    <br>
<button onclick="convertToImage()">Convert to Image</button>

</div>

 <!-- List of uploaded documents -->
        {% if documents %}
            All documents in the database:
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}








		
		


    
		
		
	<form action = "" method = "post">
	{% csrf_token %}
	{{form }}
	<input type="submit" value=Submit">
</form>

		
		
		
		
		
		

</body>

<script type="text/JavaScript">
function openCvReady() {
  cv['onRuntimeInitialized']=()=>{
    let video = document.getElementById("cam_input"); // video is the id of video tag
    navigator.mediaDevices.getUserMedia({ video: true, audio: false })
    .then(function(stream) {
        video.srcObject = stream;
        video.play();
    })
    .catch(function(err) {
        console.log("An error occurred! " + err);
    });
    let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
    let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
    let gray = new cv.Mat();
    let cap = new cv.VideoCapture(cam_input);
    let faces = new cv.RectVector();
    let classifier = new cv.CascadeClassifier();
    let utils = new Utils('errorMessage');

    const FPS = 24;
    function processVideo() {
        let begin = Date.now();
        cap.read(src);
        src.copyTo(dst);
        cv.cvtColor(dst, gray, cv.COLOR_RGBA2GRAY, 0);
        cv.imshow("canvas_output", dst);
        // schedule next one.
        let delay = 1000/FPS - (Date.now() - begin);
        setTimeout(processVideo, delay);
}
// schedule first one.
setTimeout(processVideo, 0);
  };
}
</script>


<script>
    function convertToImage() {
      // Get the canvas element
      const canvas = document.getElementById('canvas_output');
      const context = canvas.getContext('2d');

      // Create an image element
      const image = new Image();

      // Assign the canvas content as the source of the image
      image.src = canvas.toDataURL();

      // Create a temporary link element to download the image
      const link = document.createElement('a');
      link.href = image.src;
      link.download = 'canvas_image.png';

      // Trigger the link programmatically to start the download
      link.click();
    }
  </script>

<script>
        document.addEventListener("DOMContentLoaded", function () {
            const canvas = document.getElementById("canvas_output");
            const context = canvas.getContext("2d");
            const captureButton = document.getElementById("captureButton");
            const form = document.getElementById("myForm");
            const canvasImageInput = document.getElementById("canvasImage");

           
            // Function to capture canvas and submit as PNG
            captureButton.addEventListener("click", function () {
                const canvasDataUrl = canvas.toDataURL("image/png");
                canvasImageInput.value = canvasDataUrl;
                form.submit();
            });
        });
    </script>


</html>



